/* =====footer===== */
.footer-main-cotainer {
    background-color: $black;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;

    @include media-breakpoint-down(csXl) {
        padding: 50px 0;
    }

    .footer-img {
        width: 300px;
        height: 400px;
        background-image: url(../images/footer-img.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 57%;

        @include media-breakpoint-down(csXl) {
            display: none;
        }

        @include media-breakpoint-down(csLg) {
            padding: 50px 20px;
        }
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 25%;

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-bottom: 30px;
                padding-bottom: 10px;
                border-bottom: solid 1px $gray;
            }

            .section-title {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 30px;
                letter-spacing: -0.015em;
                color: $white;
                margin-bottom: 20px;
            }
            
            .section-desc {
                font-family: 'Jost';
                font-style: normal;
                color: $white;
                font-weight: 300;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: -0.015em;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $white;
                }
            }

            .link-container {
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin-top: 30px;
                width: 160px;
                padding: 0;

                i {
                    color: $white;
                    font-size: 30px;
                }
            }            
        }
    }
    
}

.copy-right {
    width: 100%;
    padding: 10px 0;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
        padding: 20px 0;
    }

    .text {
        color: $white;
        font-family: 'Jost';
        margin-bottom: 0;
    }
}
