/* =====header===== */
.header-main-container {
    width: 100%;
    background-color: $black;
    position: fixed;
    z-index: 99;
    top: 0;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        background-color: $black;

        @include media-breakpoint-down(md) {
            padding: 10px 20px;
        }

        .logo {
            width: 60px;
            
            img {
                width: 100%;
            }

            @include media-breakpoint-down(md) {
                width: 40px;
            }
        }

        .navigation {
            .nav {
                list-style: none;
                display: flex;
                gap: 50px;

                @include media-breakpoint-down(csLg) {
                    gap: 0;
                }

                @include media-breakpoint-down(md) {
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    background-color: $black;
                    top: -300px;
                    transition: all .5s ease-in-out;
                    z-index: -1;
                    opacity: 0;

                    &.active {
                        top: 60px;
                        opacity: 1;
                        height: 100vh;
                        background-color: #000000db;
                    }
                }

                .nav-item {
                    padding: 10px;

                    &:hover {
                        border-bottom: solid 2px $green;
                        padding-bottom: 8px;
                    }

                    .nav-link {
                        color: $white;
                        font-size: 16px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Jost', sans-serif;
                        letter-spacing: 2px;
                        font-weight: bold;

                        @include media-breakpoint-down(md) {
                            font-size: 26px;
                            border-bottom: solid 1px;
                            padding-bottom: 20px;
                        }
                    }
                }

                .nav-social-icons {
                    display: none;
                    padding: 0 10px;
                    justify-content: center;
                    gap: 10%;
                    margin-top: 50px;

                    li {
                        list-style: none;

                        a {
                            color: $white;

                            i {
                                font-size: 45px;
                            }
                        }
                    }

                    @include media-breakpoint-down(md) {
                        display: flex;
                    }
                }
            }

            .hamburger-menu {
                display: none;

                i {
                    color: $white;
                    font-size: 24px;
                }

                @include media-breakpoint-down(md) {
                    display: block;
                }
            }
        }
    }
}
