.home-hero-main-container {
    background-color: $dark-shade;
    align-items: center;
    padding: 100px 0;

    @include media-breakpoint-down(md) {
        padding: 50px 20px !important;
        background-color: white !important;
    }

    .home-container {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
        }

        .hero-text {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(md) {
                align-items: center;
            }

            .title {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 500;
                font-size: 41.2512px;
                line-height: 122%;
                color: $white;
                letter-spacing: -0.02em;
                text-transform: uppercase;

                @include media-breakpoint-down(md) {
                    color: $black !important;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }

            .sub-desc {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 700;
                font-size: 78px;
                line-height: 122%;
                color: $white;
                letter-spacing: -0.02em;
                text-transform: uppercase;

                @include media-breakpoint-down(md) {
                    color: $black !important;
                    font-size: 45px !important;
                    text-align: center;
                }
            }

            .primary-btn {
                margin-top: 15px;
            }
        }

        .hero-banner {
            width: 100%;
            max-width: 728.4px;
            height: 228px;
            background-image: url(../images/Kitchen-Appliances-Transparent.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include media-breakpoint-down(csLg) {
                max-width: 445px;
                display: none;
            }
            
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
        
    }
}

.home-second-section-main-container {
    margin-top: 100px;

    .home-second-section-container {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(md) {
            padding: 0 20px;
        }

        .section-row {
            margin-top: 36px;
            display: flex;
            justify-content: space-between;

            @include media-breakpoint-down(csXl) {
                justify-content: center !important;
            }

            .product-tile    {
                @include media-breakpoint-down(csXl) {
                    display: none;
                }
            }
        
            .section-wrapper {
                align-items: flex-start;
                display: flex;

                @include media-breakpoint-down(csXl) {
                    width: 100%;
                    justify-content: space-between;
                }

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                    width: 100%;
                }

                .section-image {
                    width: 465px;
                    height: 390px;
                    background-image: url(../images/home-section-2-img.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-right: 40px;

                    @include media-breakpoint-down(csXl) {
                        width: 365px !important;
                        height: 290px !important;
                    }

                    @include media-breakpoint-down(md) {
                        margin-right: 0 !important;
                        margin-bottom: 30px;
                        width: 100% !important;
                    }
                }
            }

            .text-wrapper {
                display: flex;
                flex-direction: column;

                .section-content-title {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 253.5%;
                    color: $black;
                    text-transform: uppercase;

                    @include media-breakpoint-down(csXl) {
                        line-height: 70px !important;
                    }

                    @include media-breakpoint-down(md) {
                        text-align: center
                    }
                }

                .section-content {
                    width: 417px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 253.5%;
                    color: $black;

                    @include media-breakpoint-down(md) {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

.home-third-section-main-container {
    margin-top: 54px;

    .home-third-section-container {
        display: flex;
        flex-direction: column;
        width: 970px;
        margin: auto;

        @include media-breakpoint-down(csLg) {
            width: 100% !important;
        }

        @include media-breakpoint-down(md) {
            padding: 0 20px;
        }

        .section-cards-wrapper {
            margin-top: 45px;
            display: flex;
            flex-direction: column;

            .section-card {
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-down(md) {
                    flex-direction: column !important;
                }

                .img {
                    width: 465px;
                    height: 390px;
                    margin-right: 40px;
                    background-image: url(../images/home-section-3.jpeg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    @include media-breakpoint-down(md) {
                        margin: 0 !important;
                        margin-bottom: 0 !important;
                        width: 100% !important;
                        height: 323px !important;
                    }
                }

                .text-wrapper {
                    width: 417px;
                    display: flex;
                    flex-direction: column;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }

                    .section-title {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 48px;
                        line-height: 70px;
                        color: $black;
                        text-transform: uppercase;
                        margin-bottom: 30px;

                        @include media-breakpoint-down(md) {
                            margin-bottom: 0 !important;
                            width: 100% !important;
                        }
                    }

                    .section-content {
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 253.5%;
                        color: $black;

                        @include media-breakpoint-down(md) {
                            width: 100% !important;
                        }
                    }
                }                
            }

            &:last-child {
                @include media-breakpoint-down(md) {
                    margin-top: 15px !important;
                }

                .section-card {
                    flex-direction: row-reverse;

                    .text-wrapper {
                        border-bottom: 29px solid $green;

                        @include media-breakpoint-down(md) {
                            padding-bottom: 30px;
                        }
                    }

                    .img {
                        margin-right: 0;
                        margin-left: 40px;
                        background-image: url(../images/home-section-3-2.jpeg);
                    }
                    
                }
            }
        }
    }
}
